<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Campaigns of Customer
          </div>
          <div class="card-body">
          <div style="padding-bottom: 2%;">
            <a class="btn btn-primary" routerLink="/create-campaign" role="button" style="bottom: 100px;">Add new campaign</a>
          </div>
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Campaign ID</th>
                  <th>Campaign Name</th>
                  <th>Start Date</th>
                  <th>State</th>
                  <th>Upload Report</th>
                  <th>Add Asset</th>
                  <th>View Assets</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let campaign of campaigns">
                  <td>{{ campaign.id }}</td>
                  <td>{{ campaign.nombre_campana }} </td>
                  <td>{{ campaign.fecha_inicio_campana }}</td>
                  <td>Active</td>
                  <td>
                    <button (click)="getSelectedCampaign(campaign.id)" class="btn btn-pill btn-block btn-info">Upload Report</button>
                  </td>
                  <td>
                    <button (click)="redirectAddAsset(campaign.id)" class="btn btn-pill btn-block btn-info">Add Asset</button>
                  </td>
                  <td>
                    <button (click)="redirectViewAssets(campaign.id)" class="btn btn-pill btn-block btn-info">View Assets</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  <div [hidden] = "information" class="jumbotron vertical-center">
    <div  class="align-middle">
      <div class="container">
        <div class="col">
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">This client does not have campaigns yet!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>