<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Campaigns of Client
          </div>
          <div class="card-body">
          <div style="padding-bottom: 2%;">
            <a class="btn btn-primary" routerLink="/create-campaign" role="button" style="bottom: 100px;">Add new campaign</a>
          </div>
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>ID Campaign</th>
                  <th>Campaign Name</th>
                  <th>Start Date</th>
                  <th>State</th>
                  <th>Edit Dashboard</th>
                  <th>Add Asset</th>
                  <th>View Assets</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let campaign of campaigns">
                  <td>{{ campaign.id }}</td>
                  <td>{{ campaign.nombre_campana }} </td>
                  <td>{{ campaign.fecha_inicio_campana }}</td>
                  <td>Active</td>
                  <td>
                    <button (click)="getSelectedCampaign(campaign.id)" class="btn btn-pill btn-block btn-info">Edit Dashboard</button>
                  </td>
                  <td>
                    <button (click)="redirectAddAsset(campaign.id)" class="btn btn-pill btn-block btn-info">Add Asset</button>
                  </td>
                  <td>
                    <button (click)="redirectViewAssets(campaign.id)" class="btn btn-pill btn-block btn-info">View Assets</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
