<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Customers
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Customer ID</th>
                <th>Customer Name</th>
                <th>Company Name</th>
                <th>Campaigns</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clients">
                <td>{{ client.id }}</td>
                <td>{{ client.nombre_usuario +" "+client.apellido_usuario }}</td>
                <td>{{ client.empresa_usuario }}</td>
                <td>
                  <button (click)="getSelectedCampaignsByUser(client.id)" class="btn btn-pill btn-block btn-info">Campaigns</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<div [hidden] = "information" class="jumbotron vertical-center">
  <div  class="align-middle">
    <div class="container">
      <div class="col">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading">You do not have clients yet!</h4>
        </div>
      </div>
    </div>
  </div>
</div>