<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Watch Profile</title>

  <!-- Font Icon -->
  <link rel="stylesheet" href="../../../assets/fonts/material-icon/css/material-design-iconic-font.min.css">

</head>
<body>

  <div class="main">
      <section class="signup">
          <div class="container">
              <div class="signup-content">
                <h2>Your profile</h2>
                  <div class="row">
                      <div class="col s12">
                          <table class="table responsive-table">
                              <tbody>
                                  <tr>
                                      <td>
                                          <strong>Name</strong>
                                      </td>
                                      <td>
                                             <p>Stefanny</p>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        <strong>Last Name</strong>
                                    </td>
                                    <td>
                                           <p>Caicedo</p>
                                    </td>
                                </tr>
                                <tr>
                                  <td>
                                      <strong>ID</strong>
                                  </td>
                                  <td>
                                      <p>103456786543</p>
                                  </td>
                              </tr>
                                  <tr>
                                      <td>
                                          <strong>Company Name</strong>
                                      </td>
                                      <td>
                                          <p>IBM</p>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        <strong>Address</strong>
                                    </td>
                                    <td>
                                        <p>Avenue 1234</p>
                                    </td>
                                </tr>
                                  <tr>
                                    <td>
                                        <strong>Mail</strong>
                                    </td>
                                    <td>
                                        <p>scaicedo</p>
                                    </td>
                                </tr>
                                  <tr>
                                      <td>
                                          <strong>Phone</strong>
                                      </td>
                                      <td><p>phone</p></td>
                                  </tr>
                              </tbody>
                          </table>
                          <br>
                          <div style="display: flex; justify-content: center;">
                          <button class="btn btn-outline-primary" >Edit Profile</button>
                        </div>
                          <br>
                      </div>
                  </div>
              </div>
          </div>
     </section>
  </div>

  <!-- JS -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
