<main>
<div class="animated fadeIn" style="padding: 1%;">
  <h3 style="text-align: center; padding-bottom: 1%;">Dashboard Campaign</h3>
  <div class="card" style="padding: 2%;">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Reach</h4>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="ReachData"
        [labels]="ReachLabels"
        [options]="ReachOptions"
        [colors]="ReachColours"
        [legend]="ReachLegend"
        [chartType]="ReachType">
      </canvas>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div>Budget</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
          [datasets]="BudgetData"
          [labels]="BudgetLabels"
          [options]="BudgetOptions"
          [colors]="BudgetColours"
          [legend]="BudgetLegend"
          [chartType]="BudgetType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div>Results</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
                  [datasets]="ResultData"
                  [labels]="ResultLabels"
                  [options]="ResultOptions"
                  [colors]="ResultColours"
                  [legend]="ResultLegend"
                  [chartType]="ResultType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div>Impressions</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
          [datasets]="ImpressionsData"
          [labels]="ImpressionsLabels"
          [options]="ImpressionsOptions"
          [colors]="ImpressionsColours"
          [legend]="ImpressionsLegend"
          [chartType]="ImpressionsType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-dark">
        <div class="card-body pb-0">
          <div>Budget Spent</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <strong>{{budgetReport}}</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" [ngStyle]="styleProgressBudgetSpent" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">{{budgetSpent}}</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
<!--Larga-->
  <div class="card" style="padding: 2%;">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Cost Per Result</h4>
          <div class="small text-muted">November 2019</div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="CostPerResultData"
        [labels]="CostPerResultLabels"
        [options]="CostPerResultOptions"
        [colors]="CostPerResultColours"
        [legend]="CostPerResultLegend"
        [chartType]="CostPerResultType">
      </canvas>
      </div>
    </div>
  </div>
  <!-- Shortie -->
  <!--/.card-->
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div>Amount Spent</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
          [datasets]="AmountSpentData"
          [labels]="AmountSpentLabels"
          [options]="AmountSpentOptions"
          [colors]="AmountSpentColours"
          [legend]="AmountSpentLegend"
          [chartType]="AmountSpentType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div>Landing Page Views</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
                  [datasets]="LandingPageViewsData"
                  [labels]="LandingPageViewsLabels"
                  [options]="LandingPageViewsOptions"
                  [colors]="LandingPageViewsColours"
                  [legend]="LandingPageViewsLegend"
                  [chartType]="LandingPageViewsType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div>Cost Per Landing Page</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
                  [datasets]="CostPerLandingPageViewData"
                  [labels]="CostPerLandingPageViewLabels"
                  [options]="CostPerLandingPageViewOptions"
                  [colors]="CostPerLandingPageViewColours"
                  [legend]="CostPerLandingPageViewLegend"
                  [chartType]="CostPerLandingPageViewType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <!--Larga-->
    <div class="card" style="padding: 2%;">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0"> Link Clicks</h4>
            <div class="small text-muted">November 2019</div>
          </div><!--/.col-->
        </div><!--/.row-->
        <div class="chart-wrapper" style="height:300px;margin-top:40px;">
          <canvas baseChart class="chart"
          [datasets]="LinkClicksData"
          [labels]="LinkClicksLabels"
          [options]="LinkClicksOptions"
          [colors]="LinkClicksColours"
          [legend]="LinkClicksLegend"
          [chartType]="LinkClicksType"></canvas>
        </div>
      </div>
    </div>
</div><!--/.col-->
</main>
