<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Reach</h4>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="ReachData"
        [labels]="ReachLabels"
        [options]="ReachOptions"
        [colors]="ReachColours"
        [legend]="ReachLegend"
        [chartType]="ReachType"></canvas>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div>Budget</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
          [datasets]="BudgetData"
          [labels]="BudgetLabels"
          [options]="BudgetOptions"
          [colors]="BudgetColours"
          [legend]="BudgetLegend"
          [chartType]="BudgetType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div>Result</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
                  [datasets]="ResultData"
                  [labels]="ResultLabels"
                  [options]="ResultOptions"
                  [colors]="ResultColours"
                  [legend]="ResultLegend"
                  [chartType]="ResultType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div>Impressions</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
                  [datasets]="ImpressionsData"
                  [labels]="ImpressionsLabels"
                  [options]="ImpressionsOptions"
                  [colors]="ImpressionsColours"
                  [legend]="ImpressionsLegend"
                  [chartType]="ImpressionsType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div>Estimated Add Recall</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
          [datasets]="EstimatedAddRecallData"
          [labels]="EstimatedAddRecallLabels"
          [options]="EstimatedAddRecallOptions"
          [colors]="EstimatedAddRecallColours"
          [legend]="EstimatedAddRecallLegend"
          [chartType]="EstimatedAddRecallType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
<!--Larga-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Amount Spent</h4>
          <div class="small text-muted">November 2019</div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="AmmountSpentData"
        [labels]="AmmountSpentLabels"
        [options]="AmmountSpentOptions"
        [colors]="AmmountSpentColours"
        [legend]="AmmountSpentLegend"
        [chartType]="AmmountSpentType"></canvas>
      </div>
    </div>
  </div>
  <!-- Shortie -->
  <!--/.card-->
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div>Frequency</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
          [datasets]="FrequencyData"
          [labels]="FrequencyLabels"
          [options]="FrequencyOptions"
          [colors]="FrequencyColours"
          [legend]="FrequencyLegend"
          [chartType]="FrequencyType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div>Video Clicks</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
                  [datasets]="VideoClicksData"
                  [labels]="VideoClicksLabels"
                  [options]="VideoClicksOptions"
                  [colors]="VideoClicksColours"
                  [legend]="VideoClicksLegend"
                  [chartType]="VideoClicksType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div>Post Reaction</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
                  [datasets]="PostReactionData"
                  [labels]="PostReactionLabels"
                  [options]="PostReactionOptions"
                  [colors]="PostReactionColours"
                  [legend]="PostReactionLegend"
                  [chartType]="PostReactionType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div>Carrousel Clicks</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
          <canvas baseChart class="chart"
          [datasets]="CarrouselClicksData"
          [labels]="CarrouselClicksLabels"
          [options]="CarrouselClicksOptions"
          [colors]="CarrouselClicks1Colours"
          [legend]="CarrouselClicksLegend"
          [chartType]="CarrouselClicksType"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <!--Larga-->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0"> Link Clicks</h4>
            <div class="small text-muted">November 2019</div>
          </div><!--/.col-->
        </div><!--/.row-->
        <div class="chart-wrapper" style="height:300px;margin-top:40px;">
          <canvas baseChart class="chart"
          [datasets]="LinkClicksData"
          [labels]="LinkClicksLabels"
          [options]="LinkClicksOptions"
          [colors]="LinkClicksColours"
          [legend]="LinkClicksLegend"
          [chartType]="LinkClicksType"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="row text-center">
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">State </div>
            <strong>Active (100%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Bid Strategy</div>
            <strong>Low Cost</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Last Edit</div>
            <strong>Nov 20, 2019</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Cost Per Result</div>
            <strong>$0,64 </strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div><!--/.col-->
